#===========================================================================
# SCENARIO CONFIGURATION
#===========================================================================
[ Scenario ]
Scenario.name = SpraynWait

#===========================================================================
# GROUP SPECIFIC SETTINGS
#===========================================================================
[ Common settings ]
Group.router = SprayAndWaitRouter