#===========================================================================
# SCENARIO CONFIGURATION
#===========================================================================
Scenario.name = dropped_scenario
Scenario.simulateConnections = true
Scenario.updateInterval = 0.1
# 43200s == 12h
Scenario.endTime = 43200
#===========================================================================
# EVENTS (Pembuat Pesan) - Kita buat pesan berukuran besar dengan sangat cepat!
#===========================================================================
Events.nrof = 1
Events1.class = MessageEventGenerator
# Buat pesan setiap 2 hingga 5 detik (Sangat cepat!)
Events1.interval = 2, 5
# Ukuran pesan antara 500kB hingga 1MB
Events1.size = 500k, 1M
# Rentang node pengirim dan penerima (sesuaikan dengan jumlah node Anda)
Events1.hosts = 0, 125
Events1.prefix = M

#===========================================================================
# GROUP CONFIGURATION (Pengaturan Node) - Kita cekik buffernya!
#===========================================================================
Group.router = EpidemicRouter
# PERHATIAN: Set ukuran buffer menjadi sangat kecil (hanya 2 Megabytes)
# Karena ukuran pesan bisa sampai 1M, buffer akan penuh hanya dengan 2-3 pesan!
Group.bufferSize = 2M

# Buat TTL (Time To Live) sangat lama agar pesan tidak hilang sendiri, 
# melainkan terpaksa di-drop karena buffer kepenuhan.
Group.msgTtl = 10000
Report.nrofReports = 1
Report.report1= DroppedPerNodePerIntervalReport
Report.reportDir = reports/