# 1. Override Nama Skenario
Scenario.name = Epidemic_Stationary_Reality


Scenario.simulateConnections = false
Group.nrofHosts = 41

# 2. Override Protokol Perutean ke PRoPHET
Group.router = EpidemicRouter

# 3. Override Model Pergerakan ke Stationary Movement
Group.movementModel = StationaryMovement
Group.nodeLocation = 10, 10

# 4. Override Pembangkit Peristiwa (Event Generators)
Events.nrof = 2

# Antrean 1: Kejadian Eksternal (Trace Haggle3)
Events1.class = ExternalEventsQueue
Events1.filePath = data/events/RealityConnectionTraceFinal.txt

# Antrean 2: Pembangkit Pesan
Events2.class = MessageEventGenerator
Events2.interval = 580, 620
Events2.size = 10k, 50k
Events2.hosts = 0, 41
Events2.prefix = M

# 5. Override Direktori Pelaporan
Report.reportDir = reports/Epidemic_Output/
Report.report1 = MessageStatsReport