Scenario.name = peopleRank_scenario
Scenario.simulateConnections = true
Scenario.updateInterval = 0.1
# 43200s == 12h
Scenario.endTime = 43200

Group.router = ProphetRouter               # by default, uses EpidemicRouter for this setting

Report.report1 = MessageStatsReport
Report.report2 = ProphetReport