# =========================================================
# PENGATURAN ROUTER DAN BUFFER
# =========================================================
Scenario.name = prophet_UAS_2

# 1. Tentukan router yang baru Anda buat untuk grup node
Group.router = ProphetAdaptiveRouter


# 2. Atur metode pelepasan buffer (Drop Policy)
# Pilihan yang tersedia pada Enum Anda: FIFO, SHLI, MOFO, LHLI
AdaptiveBufferRouter.bufferReleaseMethod = mofo
ProphetRouter.forwardingPolicy = coin

# 3. Pengaturan standar lainnya (sesuaikan dengan kebutuhan Anda)
Group.bufferSize = 100M
Group.msgTtl = 300

Report.reportDir = reports/Prophet_Output_UAS/
Report.nrofReports = 1
Report.report1 = ProphetReport