# 1. Override Nama Skenario
Scenario.name = Prophet_WDM

# 2. Override Protokol Perutean ke PRoPHET untuk Semua Grup
Group.router = ProphetRouter
ProphetRouter.secondsInTimeUnit = 30

# 3. Override Pembangkit Peristiwa (Event Generators)
Events.nrof = 1
Events1.class = MessageEventGenerator
Events1.interval = 300, 600
Events1.size = 10k, 50k
# WDM bawaan biasanya memiliki banyak node (contoh: 50-100), kita rentangkan ke 50.
Events1.hosts = 0, 49
Events1.prefix = M

# 4. Override Direktori Pelaporan
Report.reportDir = reports/Prophet_Output/
Report.nrofReports = 1
Report.report1 = MessageStatsReport